
html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
}
.slick-prev::before, .slick-next::before {
  color: black !important; 
  font-size: 24px !important;
}

.slick-dots li button:before {
  color: black !important;
  font-size: 12px !important;
}